body{
    margin: 0;
    /* background-image: url("bg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0%;
    padding: 0;

    text-decoration: none;
}
.nav-container{
    display: grid;
    grid-template: 60px/2fr 3fr 1fr;
    background-color: black;
    align-items: center;
    padding: 0 30px;
    font-size: 22px;
    position: sticky;
    margin-bottom: 20px;
    top: 0%;
    
}
.nav-container li{
    display: inline-block;
}
.nav-container a{
    padding: 5px 10px;
    color: aliceblue;
}
.mid-nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 5px 10px;
    
}
.mid-nav input{
    height: 35px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0 30px;
    font-size: 20px;

    
}
.mid-nav button{
    background-color: rgb(255, 0, 0);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
}
.right-nav{
    justify-self: end;
}
a:hover{
    font-size: 1.1em;
    border-bottom: 2px red solid;
}
#main{
    
    padding: 10px 50px;
    display: grid;
    grid-template:auto/repeat(12,1fr);
    
}
#main div{
    background-color: rgba(46, 194, 103, 0.589);
    color:black ;
    padding: 50px;
    text-align: justify;
    margin: 10px;
    box-shadow: 3px 3px 10px rgb(99, 99, 99);
    border-radius: 10px;
    
}
.one{
    grid-column: 1/7;
    color:black ;
}
.two{
    grid-column: 7/-1;
}
.three{
    grid-column: 1/-1;
}
.four{
    grid-column: 1/-1;
}
#main div h1{
    text-align: center;
    padding-bottom: 20px;
}
.mobile{
    display: none;
}
@media  screen and (max-width:890px) {
    .nav-container a{
        padding: 5px 3px;
        font-size: 1.3rem;
        color: rgb(255, 255, 255)
}
}
@media screen and (max-width:800px)  {
    .nav-container{
        grid-template-columns: 2fr 1fr;
    }
    .left-nav{
        grid-column: 1/2;
    }
    .right-nav{
        grid-column: 2/-1;
        grid-row: 1;
    }
    .mid-nav{
        display: none;
    }
    .mobile{
        display: grid;
        grid-template:30px/3fr 1fr;
        padding: 10px 20%;
    }
    .mobile input{
        padding: 0 20px;
    }
    .one{
        grid-column: 1/-1;
        color:black ;
    }
    .two{
        grid-column: 1/-1;
    }

    
}
footer{
    background-color: rgb(99, 99, 99);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    
}
@media screen and (max-width:390px){
    .nav-container a{
        padding: 2px;
        font-size: 1rem;
    }
    .nav-container{
        padding: 0% 10px;
    }
    .mobile{
        display: grid;
        grid-template:30px/3fr 1fr;
        padding: 10px 10%;
    }
    #main div {
        max-height: 350px;
        overflow-y: scroll;
        padding: 10px 20px;
    }
    #main{
        padding: 10px;
    }
}